{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>الرئيسيه</title>
</head>
<body>
    <header>
        <div class="button">
            <div class="register-div">
                <button class="register-button" id="register-button">انشاء حساب</button>
                <div class="modal-register" id="modal-register">
                    <div class="modal-button"><a href="{% url 'register-page-student' %}">طالب</a></div>
                    <hr> <!-- Horizontal line -->
                    <div class="modal-button"><a href="{% url 'register-page-university' %}">جامعه</a></div>
                </div>
            </div>
            
            <div class="login-div">
                <button class="login-button" id="login-button">تسجيل الدخول</button>
                <div class="modal-login" id="modal-login">

                    <div id = "student--login" class="modal-button"><button>طالب</button></div>
                    

                    <hr> <!-- Horizontal line -->

                    <div id="univ--login" class="modal-button"><button>جامعه</button></div>

                </div>
            </div>
        </div>


        <div><input class="search" type="text" placeholder="البحث"></div>
        <ul>
            <li><a href="#">الجامعات المتاحه</a></li>
            <li><a href="#">احصائيات</a></li>
            <li><a href="#">دورات و ورش العمل</a></li>
            <li><a href="#">الجدول الزمني</a></li>
        </ul>        
    </header>
    <section class="main-section">
        <div class="right">
            <img class="right-image" src="{% static 'images/logo.png' %}" alt="" >
        </div>
        <div class="left">
            <h1>مرحبا بك</h1>
            <h1>في المنصه المشتركه للجامعات و الطلاب</h1>
        </div>
    </section>
    <section>
        <div id="modal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <p>تسجيل الدخول</p>
              <form action="." method="post">
                <input type="text" id="username" name="username" placeholder="اسم المستخدم / الهويه" required>
                <input type="password" id="password" name="password" placeholder="كلمه السر" required>
                <button type="submit">دخول</button>
              </form>
            </div>
        </div>
    </section>
    <script src="{% static 'javascript/main.js' %}"></script>
</body>
</html>