{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/university-main-page.css' %}">
    <title>بيانات الجامعه</title>
</head>
<body>
    <header>
        <div class="button">
            <img  src="{% static 'images/logo.png' %}" alt="" width="100px" >
        </div>
        <ul>
            <li><a href="{% url 'log-out' %}">تسجيل الخروج</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'university-page' %}">({{user.username}})اهلا</a></li>
            {% endif %}
            <li><a href="#">الجامعات المتاحه</a></li>
            <li><a href="#">الجدول الزمني</a></li>
            <li><a href="#">احصائيات</a></li>
            <li><a href="{% url 'home-page' %}">الصفحه الرئيسيه</a></li>
        </ul>        
    </header>
    <section class="main-section">
        <div class="container">
            <div class="title"><h1>بيانات الجامعه الاساسيه</h1></div>
            <form method="post" action="{% url 'university-main-page' %}">
                {% csrf_token %}

                <div class="right-left">
                    <div class="form-right">
                        <div class="item">
                            <input type="text" id="studentemail" name="studentemail" required>
                            <label for="studentemail">التخصص</label>
                        </div>
                    </div>
                    
                    <div class="form-left">
                        <div class="item">
                            <input type="text" id="aboutunv" name="aboutunv"  required>
                            <label for="aboutunv">مقدمه عن الجامعه</label>
                        </div>
                    </div>
                </div>


                <div class="title down"><h1>نسب حساب النسبه الموزونه</h1></div>

                <div class="right-left">
                    <div class="form-right">
                        <div class="item">
                            <input type="text" id="score1" name="score1" placeholder="نسبه التحصيلي" required>
                        </div>
                        <div class="item">
                            <input type="text" id="score2" name="score2" placeholder="نسبه التحصيلي"  required>
                        </div>
                    </div>
                    <div class="form-right">
                        <div class="item">
                            <input type="text" id="score3" name="score3" placeholder="نسبه القدرات" required>
                        </div>
                        <div class="item">
                            <input type="text" id="score4" name="score4" placeholder="نسبه القدرات" required>
                        </div>
                    </div>
                    <div class="form-left">
                        <div class="item">
                            <input type="text" id="score5" name="score5" placeholder="نسبه الثانوي"  required>
                            <label for="score5">طلاب</label>
                        </div>
                        <div class="item">
                            <input type="text" id="score6" name="score6" placeholder="نسبه الثانوي" required>
                            <label for="score6">طالبات</label>
                        </div>
                    </div>
                </div>


               
                <div class="title down"><h1>اضافه التخصصات</h1></div>


                <div class="right-left">
                    <div class="form-right">
                        <div class="item">
                            <input type="text" id="specialization1" name="specialization1" required>
                            <label for="specialization1">التخصص</label>
                        </div>
                        <div class="item">
                            <input type="text" id="seats1" name="seats1" required>
                            <label for="seats1">عدد المقاعد</label>
                        </div>
                    </div>
                    
                    <div class="form-left">
                        <div class="item">
                            <input type="text" id="college1" name="college1"  required>
                            <label for="college1">الكليه</label>
                        </div>
                        <div class="item">
                            <input type="text" id="acceptance_rate1" name="acceptance_rate1" required>
                            <label for="acceptance_rate1">نسبه القبول للتخصص</label>
                        </div>
                        
                    </div>
                </div>




                <div class="button-save">
                    <button type="submit">حفظ البيانات</button>
                </div>


            </form>
        </div>
    </section>
</body>
</html>
